@tailwind base;
@tailwind components;
@tailwind utilities;

/*
add icons for each card
*/

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --button-border: rgb(211, 211, 211);

}

.header{
  width: 100%;
  height: 8vh;
  background-color: blue;
  color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.footer{
  width: 100%;
  height: 8vh;
  background-color: blue;
}

main {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  min-height: 84vh
}

/*opening page*/

.openingHeader{
  font-family: Sans-Serif;
  font-size: xx-large;
}

.openingDescription{
  padding: 0px 40px;
  text-align: center;
}

.openingButton{
  padding: 15px 25px;
  background-color: blue;
  border-radius: 10px;
  border: 3px transparent solid;
  color: white;
}

.openingButton:hover{
  border: 3px blue solid;
  background-color: white;
  color: blue;
}

/******* Simulations *******/

.simulationTitle{
  font-family: Sans-Serif;
  font-size: xx-large;
  padding-top: 15px;
  padding-left: 20px;
}

.simulationDescription{
  font-family: Sans-Serif;
  font-size: large;
  padding-left: 20px;
}

/* Savings */

.savingsNumber{
  font-size: large;
  padding-left: 20px;
}

.savingsTopRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.savingsBottomRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.savingsDescription{
  font-size: small;
}

.savingsBottomRowSpacer{
  width: 105px;
  height: 10px;
}

.savingsContainer{
  padding-top: 10px;
  width: 100%;
}

.savingsForegroundBar{
  height: 5px;
  background-color: blue;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.savingsBackgroundBar{
  height: 5px;
  background-color: var(--button-border);
  border-radius: 10px;
  position: relative;
}


/* Resources */

.resourcesColumn{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resourcesContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}

.resourceContainer{
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.542);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid;
  border-radius: 7px;
  padding: 8px 15px 15px 15px;
  align-items: center;
  width: 300px;
}

.labelContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonsContainer{
  display: flex;
  flex-direction: row;
  background-color: rgb(246, 246, 246);
  border: 1px var(--button-border) solid;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
}

.subtract{
  border-radius: 4px 0px 0px 4px;
}

.add{
  border-radius: 0px 4px 4px 0px;
}

.button{
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px transparent solid;
}

.button:hover{
  background-color: rgb(230, 230, 230);
}

.buttonDisabled{
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px transparent solid;
}

.resourceNumberContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  background-color: white;
  border-right: 1px var(--button-border) solid;
  border-left: 1px var(--button-border) solid;
}

.nextDescriptionContainter{
  width: 200px;
  position: absolute;
  bottom: 0px;
  left: 110px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.14);
}

.resourceName{
  font-size: large;
  font-weight: 550;
}


.resourceNumber{
  font-size: medium;
  height: 100%;
}

.descriptionContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 70px;
}

.resourceDescription{
  height: 50px;
  /*background-color: purple;*/
  width: 100%;
}

/* Next buttons */
.nextButtonContainer{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 20px;
}